{{ define "main" }}
<div class="td-content">
    <div class="container">
        <div class="row">
            <div class="col-12"> 
                <article>
                    <header class="mb-4">
                        <h1>{{ .Title }}</h1>
                        {{ if .Params.date }}
                        <div class="text-muted mb-3">
                            <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time>
                        </div>
                        {{ end }}
                    </header>

                    {{ if .Params.image }}
                    <div class="row mb-4">
                        <div class="col-12">
                            <div class="">
                                <img src="{{ .Params.image | relURL }}" class="img-fluid" alt="{{ .Title }}" style="max-height: 300px; object-fit: contain;">
                            </div>
                        </div>  
                    </div>
                    {{ end }}

                    <div class="content">
                        {{ .Content }}
                    </div>  
                </article>
            </div>
        </div>
    </div>
</div>
{{ end }} 