+++
title = "SW360"
linkTitle = "Eclipse SW360"
+++

{{<blocks/cover image_anchor="center" height="full">}}
<div class="row align-items-center">
  <div class="col-lg-6">
    <h4>
      {{< figure src="/sw360/img/logos/logo_full.svg" width="400">}}
      <p class="display-2 mb-0">
        ソフトウェアサプライチェーン管理の決定版！
      </p>
    </h4>
  </div>
  <div class="col-lg-6 mt-5 mt-lg-3 d-sm-block" style="display: none">
    {{< figure src="/sw360/img/sw360screenshots/sw360sc1reenshot-home.png"
    width="500" >}}
  </div>
</div>

<div class="display-cover mt-5">
  <p>
    SW360はEPL-2.0ライセンスのオープンソースソフトウェアプロジェクトであり、ソフトウェアコンポーネントに関する情報を収集、整理し、利用可能にするウェブアプリケーションとリポジトリを提供します。組織内のソフトウェアコンポーネントの中央ハブを確立します。
  </p>
</div>

<div class="mx-auto mt-5">
  　<a class="btn btn-lg btn-primary mr-3 mb-4" href="#vision-section">
　　<span style="font-size: larger; font-weight: bolder;">私たちのビジョン</span>
　</a>
</div>

{{</blocks/cover>}}

<a id="vision-section" class="td-offset-anchor"></a>
<section class="row td-box td-box--secondary td-box--gradient td-box--height-auto">
	<div class="col">
		<div class="row">
      {{% blocks/vision title="中央SWコンポーネントデータベース" %}}
360度のカバレッジを提供し、「コーディング」以外のSW開発にも対応する中央SWコンポーネントデータベース
{{% /blocks/vision %}}

{{% blocks/vision title="ソフトウェアコンプライアンスのE2E統合" %}}
安定的で正確、透明性があり、制御可能で拡張しやすいOSSツールチェーンの長期運用
{{% /blocks/vision %}}

		</div>
    <div class="row">
{{% blocks/vision title="長期管理可能なOSSツールチェーン" %}}
可能な限り自動化され、エンドツーエンドのコンプライアンス（法務、セキュリティ/SBOM、輸出管理）ツールチェーンとして
    SW開発プロセス（例: DevOps）にシームレスに統合
{{% /blocks/vision %}}

{{% blocks/vision title="新技術の導入" %}}
コンテナや新しい種類のパッケージなど、新技術や新ツールの導入を容易に
{{% /blocks/vision %}}
    </div>
	</div>
</section>
