$td-enable-google-fonts: false;

// Project Colors
$sw360-orange: #f49523;
$sw360-blue: #5c8da7;
$white: #ffffff;

// Eclipse Colors
$eclipse-dark-blue: #000966;
$eclipse-orange: #F06C02;
$eclipse-blue: #2C1CD8;
$black: #000000;

$primary: $eclipse-dark-blue !default;
$secondary: $sw360-blue !default;
$text_primary: #333333 !default;
$btn-primary: $sw360-orange;
$btn-secondary: $eclipse-orange;