<footer class="footer py-5 row d-print-none">
  <div class="container-fluid">
    <div class="row w-100 justify-content-center">
      <div class="col-md-1">
        <h4>Legal</h4>
        <ul>
          <li>
            <a href="https://www.eclipse.org/legal/privacy.php"
              >Privacy Policy</a
            >
          </li>
          <li>
            <a href="https://www.eclipse.org/legal/termsofuse.php"
              >Terms of Use</a
            >
          </li>
          <li>
            <a href="https://www.eclipse.org/legal/copyright.php"
              >Copyright Agent</a
            >
          </li>
          <li>
            <a href="https://www.eclipse.org/legal/epl-2.0/"
              >Eclipse Public License</a
            >
          </li>
          <li><a href="https://www.eclipse.org/legal/">Legal Resources </a></li>
        </ul>
      </div>

      <div class="col-md-9" align="center">
        <p><strong>Eclipse SW360</strong> is supported by</p>
        <p>
          <a href="https://www.siemens.com/">
            <img
              src="{{ .Site.BaseURL}}/img/clients/Siemens.png"
              class="footer-img"
              width="100"
              alt="Siemens"
          /></a>
          <a href="https://cariad.technology">
            <img
              src="{{ .Site.BaseURL}}/img/clients/Cariad.png"
              class="footer-img"
              width="140"
              alt="Cariad"
          /></a>
        </p>

        {{ with .Site.Params.copyright }}
        <small>&copy; {{ now.Year}} {{ .}} {{ T "footer_all_rights_reserved" }}</small>
        {{ end }} 
        <div style="margin-top: 10px"><a href="http://www.eclipse.org/">
          <img
            src="{{ .Site.BaseURL}}/img/clients/Eclipse.png"
            class="footer-img"
            width="100"
            alt="Eclipse Foundation"
        /></a></div>
      </div>

    </div>
  </div>
  <!-- /.container -->
</footer>
{{ define "footer-links-block" }}
<ul class="list-inline mb-0">
  {{ range . }}
  <li
    class="list-inline-item mx-2 h3"
    data-toggle="tooltip"
    data-placement="top"
    title="{{ .name }}"
    aria-label="{{ .name }}"
  >
    <a
      class="text-white"
      target="_blank"
      rel="noopener"
      href="{{ .url }}"
      aria-label="{{ .name }}"
    >
      <i class="{{ .icon }}"></i>
    </a>
  </li>
  {{ end }}
</ul>
{{ end }}
