name: Build and Archive
on:
  push:
    tags: v*
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  build_website:
    name: Build and Test
    runs-on: ubuntu-latest
    env:
      PROJECT_NAME: sw360
      PROJECT_BOT_NAME: SW360 Bot
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Setup Go
        uses: actions/setup-go@0aaccfd150d50ccaeb58ebd88d36e91967a5f35b # v5.4.0
        with:
          go-version: ">=1.21.5"

      - name: Setup Node.js
        uses: actions/setup-node@cdca7365b2dadb8aad0a33bc7601856ffabcc48e # v4.3.0
        with:
          node-version: 22

      - name: Install postcss-cli
        run: npm ci

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@75d2e84710de30f6ff7268e08f310b60ef14033f # v3.0.0
        with:
          hugo-version: "0.145.0"
          extended: true

      - uses: actions/cache@v4
        with:
          path: /tmp/hugo_cache
          key: ${{ runner.os }}-hugomod-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-hugomod-

      - name: Build SW360 Hugo
        shell: bash
        run: |
          mkdir -p themes/docsy
          hugo --minify -b 'https://www.eclipse.org/sw360/'

      - name: Archive
        uses: actions/upload-artifact@v4
        with:
          name: website
          path: ./public

  create_release:
    if: startsWith(github.ref, 'refs/tags/')
    name: Archive and Published Tagged Build
    runs-on: ubuntu-latest
    needs: [build_website]
    steps:
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          draft: false
          prerelease: false
        if: startsWith(github.ref, 'refs/tags/')

      - name: Download Artifact
        uses: actions/download-artifact@v2
        with:
          name: website

      - name: Upload Release Asset
        id: upload-release-asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./website
          asset_name: website.zip
          asset_content_type: application/zip
        if: startsWith(github.ref, 'refs/tags/')
